/* containers */

body {
    background-color: #191919;
    background-image: url('./assets/scanlines.png');
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    margin: 0;
}

.page-container {
    margin: 10%;
    padding: 2rem;
    width: auto;
    max-width: 40rem;
    height: auto;
    text-align: center;
    background-color: #dddddd;
    border-radius: 8px;
    box-sizing: border-box;
    border-right: 5px solid #b0b0b0;
    border-bottom: 5px solid #b0b0b0;
}

.social-links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

/* text */

p, h1, h2, h3 {
    font-family: "Poppins";
    color: #191919;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 500;
}

/* icons */

.social-link-icon {
    width: 3rem;
}